<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand col-xl-6" href="#">Ing. Enrique Barreto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-xl-6" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#acerca">Acerca de mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Redes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid d-flex flex-nowrap">
      <section class="pt-md-11">
        <div class="row">
          <div class="col-lg-5 col-md-5 ms-auto order-md-2">
            <div class="d-flex justify-content-center img-circular-div">
              <div class="img-circular"></div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 order-md-1 align-middle texto-header">
            <h1 class="pb-3">SIEMPRE se puede alcanzar el exito.</h1>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius consectetur voluptatibus soluta ipsam. Facilis aspernatur libero natus? Optio deleniti nulla officia alias, dolorem possimus vero pariatur minus, quidem eius iusto!
            <div class="d-flex justify-content-center botonera">
              <button [ngClass]="{'btn-sm': screenWidth < 992}" type="button" class="btn  btn-primary me-1">Descargar CV</button>
              <button [ngClass]="{'btn-sm': screenWidth < 992}" type="button" class="btn  btn-success">Contratame</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="shape-header">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" fill="#F1F4F8">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>
</header>




