/* css general */
*{
    box-sizing: border-box;
    font-family: montserrat-regular;
}
@font-face {
    font-family: montserrat-regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat-bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: montserrat-extra-bold;
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

.container{
    padding-top: 2rem;
}

.position-relative{
    position: relative !important;
    z-index: 1;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}