/* section educacion */

.section-educacion{
    background-color: #F1F4F8;
    margin-top: -0.1rem;
    transition: all 300ms ease;
    padding-top: 5rem;
}

.div-educacion{
    position: relative;
    z-index: 2;
}

.section-educacion h1{
    font-family: 'montserrat-bold';
    text-align: center;
}

/* shape */
.margin-shape{
    margin-top: -8rem;
}

.shape-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.shape {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
}

.shape > * {
    transform: scale(2);
}

.shape-bottom > * {
    transform-origin: top center;
}
