<section class="section-skills position-relative" id="skills">
    <div class="container" style="background-color: #1B2A4E;">
        <h1>Skills</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, nam corporis. Repellat, cupiditate officiis at reprehenderit nesciunt eum error. Aliquid, laboriosam ducimus. Repellendus sint nesciunt voluptas repudiandae. Sit, et laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, mollitia id debitis dicta aspernatur voluptatem! Sapiente delectus corrupti consequuntur doloremque ipsa repellat ipsum magnam nihil facere qui! Dolor, labore ipsa! </p>
    </div>
</section>



